/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ================================================================*/
body {
  text-align: center;
  direction: rtl;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  background: black;
  color: white;
}

#top-bar {
  display: table;
  border-width: 0px;
  width: 100%;
  margin-bottom: 17px;
  height: 33px;
  font-size: 1.3em;
}

#top-bar-row {
  display: table-row;
  background-color: rgb(184, 56, 56);
}

#headline {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  font-family: serif;
  letter-spacing: 7px;
  white-space: nowrap;
  color: white;
}


#filter {
  width: 200px;
  margin-bottom: 10px;
}

#filterContainer{
  width: 380px;
  font-size: 1.4em;
  text-align: right;
  martin: auto;
  display: inline-block;
}

.dinner {
  background-color: #E7E4F5;
  margin-bottom: 5px;
  border: 1px solid gray;

}

.dinner h2 {
  text-decoration: underline;
  font-size: 1.1em;
}

#tabsContainer {
  margin: auto;
  margin-top: 30px;
  padding: 0px;
  font-size: 1.2em;
  height: 20px;
  text-align: right;
  display: table;
  border-spacing: 0px;
  border-collapse: collapse;
  border-width: 0px;
  width: 340x;
}

.tabsRow {
  display: table-row;
}

.tab {
  background: gray;
  display: table-cell;
  padding: 10px;
  border-radius: 13px 13px 0px 0px;
  cursor: pointer;
  text-align: center;
}

.selectedTab {
  background-color: rgb(184, 56, 56);
  cursor: auto;
}

#tableContainer {
  background-color: rgb(184, 56, 56);
  display: table-cell;

}

.restsTable {
  display: table;
  width: 360px;
  margin: auto;
  margin-top: 0px;
  border-spacing: 0px 15px;
  border-collapse: separate;
}

.restRow {
  display: table-row;
  color: navy;
}

.restName {
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center;
  width: 80%;
}

.restImg {
  width: 75px;
  margin-right: 5px;
}

.restImgContainer {
  border-right: 10px solid silver;
  border-radius: 0px 10px 10px 0px;
}

.restRowDiv {
  border-top: 8px solid silver;
  border-bottom: 8px solid silver;
  background: white;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  height: 80px;
  margin: 10px;
}

.restCheck {
  border-right: 0px;
  border-left-width: 8px;
  border-style: solid;
  border-color: silver;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0px 10px;
  background-color: whitesmoke;
}

.restCheckImg {
  width: 32px;
}

.restHover .restCheck  {
  background: rgb(190, 233, 247);
}

#cache {
  height: 0px;
  visibility: hidden;
}
